.title {
    grid-row: 1;
    grid-column: 2;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 4.5em;
    text-align: center;
    padding-top: 30px;
}

header{
    border-right: 15px solid #eaec7e;
    border-left: 15px solid #eaec7e;

}