.time{
    grid-column:1;
    grid-row:2;
    font-size:35px;
    display:flex;
    justify-content: center;
    align-items: center;
}

button{
    border-style: none;
}

.start{
    background: white;
}

.start:hover{
    background: rgb(226, 154, 141);
}