.time{
    grid-column:1;
    grid-row:2;
    font-size:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    font-weight: bold;
}

button{
    border-style: none;
}

.start{
    background: white;
}

.start:hover{
    background: #f8d6ac;
}

.modalBtn{
    width: 200px;
    height: 70px;
}