*{
    margin:0px;
    padding:0px;
}

.app{
    width: 100vw;
    height: 100vh;
}
.container {
    /* width: 100vw;
    height: 100vh; */
    background-image: url(https://pixabay.com/get/ea37b30d2af2063ed1534705fb0938c9bd22ffd41cb5194992f7c478a7/time-3222267_1920.jpg);
    background-size:cover;
    border: 15px solid #eaec7e;
}

header{
    height: 10%;
}

.content{
    display: grid;
    height: 90%;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}

.title {
    grid-row: 1;
    grid-column: 2;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 4.5em;
    text-align: center;
    padding-top: 30px;
}