*{
    margin:0px;
    padding:0px;
}

.app{
}
.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(http://visagesetcouleurs.be/BeCode/bgtime.jpg);
    
}

.content{
    border: 15px solid #eaec7e;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}